*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #808080;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 500px;
    height: 100vh;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

h1 {
    color: white;
    font-size: 3em;
}

input {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 20px 0 0;
}
input:focus {
    outline: none;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 2rem;
    font-weight: bold;
}
button:active {
    transform: scale(1.1);
}
